nav {
background-color: pink;
}
nav li {
justify-content: space-evenly;
list-style: none;
text-align: center;
display: inline-block;

}
footer {
background-color: pink;
list-style: none;
}
footer li {
text-align: center;
list-style: none;
}